.sort-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sort-component label {
    font-size: 14px;
    color: #333;
    margin-right: 10px;
}

.sort-component select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    margin-right: 10px;
}
/* SortComponent.css */
.sort-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sort-container label {
    margin-right: 10px;
    font-weight: bold;
}

.sort-container select {
    margin-right: 20px;
    padding: 5px;
    font-size: 14px;
}
